<!--
    This is the home page. It displays
    the users' collection, as well as 
    the search results for a movie.
-->

@model MovieGoersII.ViewModels.SearchCriteriaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>View</title>
        
    </head>
    <body>
        <form method="get" asp-controller="Search" asp-action="SearchForMovies" id="search_form">
            <input type="hidden" asp-for="Page" id="page" value="1" />
            <input type="text" asp-for="SearchQuery" id="search_query" />
            <button type="submit" id="search_button" onclick="filter()">Search</button>
        </form>
        @{
            if (Model.SearchModel != null)
            {
                <!-- Display the search results as partial view -->
            <div>
                @await Html.PartialAsync("SearchForMovies", Model.SearchModel)
            </div>
            }
            else
            {
                <!-- Display the users' collection as a View-Component -->
                <div>
                    @await Component.InvokeAsync("UserMovieCollection")
                </div>
            }
        }
    

    </body>
</html>